# Zamenite 'IP_ADRESA' sa vasom lokalnom IP adresom (terminal -> ipconfig -> IPv4 Address)
# Za lokalni test mozete koristiti 'localhost' umesto 'IP_ADRESA'

VITE_ACCOUNT_SERVICE_URL=http://IP_ADRESA:8165/api
VITE_TRIP_SERVICE_URL=http://IP_ADRESA:8791/api